@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme {
  --color-orange-primary: #f06f4e;
  --color-light-purple: #eef0f9;
  --color-purple-primary: #3c57bd;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper-component {
  background-color: #000000a2;
  width: 100%;
  height: 100%;
}

/* Extra large screens (e.g. 1536px and up) */
@media (min-width: 1536px) {
  html {
    font-size: 18px;
  }
}

/* Large screens (1280px - 1535px) */
@media (max-width: 1535px) {
  html {
    font-size: 16px;
  }
}

/* Medium screens (1024px - 1279px) */
@media (max-width: 1279px) {
  html {
    font-size: 15px;
  }
}

/* Tablets (768px - 1023px) */
@media (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}

/* Small devices (480px - 767px) */
@media (max-width: 767px) {
  html {
    font-size: 13px;
  }
}

/* Extra small devices (below 480px) */
@media (max-width: 479px) {
  html {
    font-size: 12px;
  }
}
